<!doctype html>
<html>
  <head>
    <title>Leaderboard</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/home.css">
  </head>
  <body>
    <h1>Leaderboard</h1>
    <div id="users">
      {% for user in users %}
      <div class="user">
        <h3><a href="{% url 'view_user_profile' username=user.username %}">{{ user.get_full_name }}</a></h3>
        <p>{{ user.profile.total_hours }} hours of volunteering certified</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
