<!doctype html>
<html>
  <head>
    <title>My Groups</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/home.css">
  </head>
  <body>
    <h1>My Groups</h1>
    <div id="groups">
      {% for group in groups %}
      <div class="group">
        <h3><a href="{% url 'view_group_profile' group_id=group.id %}">{{ group.name }}</a></h3>
        <p>{{ group.description }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
